@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');
body
{margin: 0;}

.fundo{
    background-image: url('../IMG/fundo.avif');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    align-content:center;
    background-position:center;
}
.texto{
    color: rgb(216, 214, 212);
    text-align:center;
    font-size: 80px;
  font-family: "Montenegrin Gothic One", serif;
}